@import 'compass/css3';

body {
  background-color: #bbb;
}

pre {
  border: solid #333 1px;
  background-color: #222;
  padding: 10px;
  overflow: auto;
  color: #ddd;

  .sy { color: #a40 }
  .dl { color: #0c7 }
  .k { color: #970 }
  .co, .i { color: #05c }
  .fl { color: #3c1 }
}

#container {
  width: 30%;
  margin: 10% auto;
  text-align: center;
  border: solid #555 1px;
  padding: 50px;
  @include single-box-shadow(#ccd, 0, 0, 10px, 10px);
  background-color: #f0f0f0;

  h2 {
    margin: 0 0 10px;
  }

  .flash {
    border: {
      style: solid;
      color: #ccc;
      width: 1px 0;
    }
    padding: 3px 0;

    &#warning {
      color: #a00;
      font-weight: bold;
    }

    &#info {
      color: #363;
    }
  }
}

#footer {
  font-size: 80%;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  color: #555;
}
